/* Importando a fonte IBM Plex Sans */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* Reset de estilos */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Estilo do cabeçalho */
header {
  background-color: #fff;
  color: #333; /* Cor do texto alterada para preto */
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center; /* Alinhando os itens verticalmente */
  justify-content: space-between; /* Alinhando os itens horizontalmente */
}

/* Título do cabeçalho */
header h1 {
  font-size: 24px;
  margin-right: 20px;
  color: blue;
}

/* Logo */
.logo img {
  width: 100px;
  height: 100px;
  margin: 10px;
  vertical-align: middle; /* Alinha verticalmente o logotipo */
}

/* Menu de navegação */
nav ul {
  list-style: none;
  padding: 20;
  display: flex;
}

/* Itens do menu */
nav ul li {
  margin-right: 20px;
}
.container {
  text-align: center; /* Centraliza o conteúdo */
}

.container h2 {
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.container ul {
  list-style-type: none; /* Remove os marcadores padrão da lista */
  padding: 0;
}

.container ul li {
  margin-bottom: 10px; /* Adiciona espaço entre os itens do menu */
}

.container ul li a {
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  color: #333; /* Cor do texto */
  font-size: 18px; /* Tamanho da fonte */
}

.container ul li a:hover {
  color: #666; /* Cor do texto quando o mouse está sobre o link */
}


/* Estilos do formulário */
form {
  margin-top: 20px;
  text-align: center;
}

/* Rótulos do formulário */
label {
  font-weight: bold;
}

/* Campo de texto */
input[type="text"] {
  width: 200px;
  padding: 5px;
  margin: 5px;
}

/* Botão de envio */
input[type="submit"] {
  padding: 10px 20px;
  background-color: #0f62fe; /* Cor azul IBM */
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Efeito hover no botão */
input[type="submit"]:hover {
  background-color: #0353e9; /* Cor azul mais escura no hover */
}

/* Tabela de dados */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

table {
  width: 80%; /* Largura da tabela */
  margin: 0 auto; /* Centraliza a tabela na página */
  border-collapse: collapse; /* Combina as bordas das células */
  margin-bottom: 20px; /* Adiciona espaço abaixo da tabela */
}

table, th, td {
  border: 1px solid #ccc; /* Adiciona bordas às células e à tabela */
  padding: 8px; /* Adiciona espaçamento interno às células */
}

th {
  background-color: #f2f2f2; /* Cor de fundo para as células de cabeçalho */
}

/* Exemplo de estilo para células de dados alternadas */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Cor de fundo para linhas pares */
}


/* Rodapé */
footer {
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto no rodapé */
  padding: 20px;
  text-align: center;
}

/* Links no rodapé */
footer a {
  color: #fff; /* Cor dos links no rodapé */
  text-decoration: none; /* Adicionando decoração nula */
}
